
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

video {
  width: 100%;
}

/* для невидимого контента — visually-hidden */
.visually-hidden {
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
  block-size: 1px;
  position: absolute;
  clip: rect(0 0 0 0);
  inline-size: 1px;
}

.page {
  background-color: #1b1919;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
}

.content {
  display: flex;
  inline-size: 100%;
  gap: 30px;
  margin: 0 30px;
}

.result {
  align-self: flex-end;
}

/* video container */
.result__video-container {
  inline-size: 711px;
  margin: 0 0 11px;
  position: relative;
}

.result__video-container,
.content__list-container {
  position: relative;
}

/* форма поиска */
.search-form {
  display: flex;
  gap: 40px;
  align-items: center;
}

/* видео */
.result__video {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

/* fieldset — для группы полей */
.search-form__fieldset {
  display: flex;
  border: none;
  flex-direction: column;
  gap: 5px;
  inline-size: 100%;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
}

.search-form__label {
  gap: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* label:hover — порядок эффектов */
.search-form__label:hover {
  text-decoration: underline 1px #FFF;
  text-underline-offset: 5px;
}

/* label:focus-visible */
.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__textfield {
  background-color: transparent;
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  border-right: none;
  border-left: none;
  inline-size: 225px;
  padding: 2px 0;
}

.search-form__textfield::placeholder {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: rgba(255, 255, 255, 0.7);
}

/* состояния поля ввода */
.search-form__textfield:active {
  outline: 1px solid #FFF;
}
.search-form__textfield:focus,
.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

/* псевдочекбокс */
.search-form__pseudo-checkbox {
  block-size: 19px;
  inline-size: 19px;
  border: 1px solid #FFF;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  margin: 1px 0 0 1px;
  background-color: #FFF;
  display: block;
  block-size: 15px;
  inline-size: 15px;
  content: '';
}

/* кнопки */
.button {
  color: #FFF;
  background-color: transparent;
  text-align: center;
  inline-size: 100%;
  border: 1px solid #FFF;
  padding: 6px 0;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}
.button:hover {
  text-decoration: underline 1px #FFF;
}
.button:focus,
.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}
.button:focus {
  outline: none;
}

.search-form__submit-button {
  align-self: flex-end;
}

.content__details {
  inline-size: 100%;
}

/* крупный заголовок */
.title {
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  padding: 0 0 26px;
  text-transform: uppercase;
}

/* акцентированный текст */
.content__accent {
  color: #545050;
}

/* прокручиваемый список */
.content__list {
  block-size: 298px;
  position: relative;
  overflow-y: scroll;
  scrollbar-width: none;
}

.content__list::-webkit-scrollbar {
  display: none;
}

/* отступы между карточками */
.content__list-item:not(:last-child) {
  margin: 0 0 34px;
}

/* стиль ссылок карточек */
.content__card-link {
  margin: 2px;
  display: block;
  text-decoration: none;
}
.content__card-link:active,
.content__card-link_current {
  background-color: #545050;
}
.content__card-link:hover {
  text-decoration: underline 1px #FFF;
}
.content__card-link:focus {
  outline: none;
}
.content__card-link:focus-visible {
  outline: 1px solid #FFF;
}

/* карточка видео */
.content__video-card {
  display: flex;
  justify-content: space-between;
}

/* заголовок карточки */
.content__video-card-title {
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  hyphens: auto;
  padding: 2px 2px 5px;
  text-transform: uppercase;
  line-height: 1;
}

/* описание карточки */
.content__video-card-description {
  color: #FFF;
  line-height: 16.2px;
  font-weight: 400;
  padding: 0 2px;
}

/* миниатюра видео */
.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}
